.search-panel {
   margin-top: 30px;
   padding: 25px;
<<<<<<< HEAD
   background-color: #3d5a90;
=======
   background-color: #3d5a60;
>>>>>>> a8aaae004e5be8f4278fa4d5186d3aa364a970a1
   border-radius: 4px;
   box-shadow: 15px 15px 30px rgba(0, 0, 0, .15);
   color: #fff;
}
